@model SmartClinic.Application.AppModels.Doctor.DoctorModel

@{
    ViewBag.Title = "Criação/Edição de Médico";
}

<h2>@ViewBag.Title</h2>

<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="col-sm-1">
            @Html.ActionLink("Listar Médicos", "Index", "Doctor", null, new { @class = "btn btn-default" })
        </div>
        <div class="x_content">
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Nome</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Nome" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">RG</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.TextBoxFor(model => model.RgCode, new { @class = "form-control", @placeholder = "RG" })
                        @Html.ValidationMessageFor(model => model.RgCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Crm</label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.TextBoxFor(model => model.CrmCode, new { @class = "form-control", @placeholder = "Número do CRM" })
                        @Html.ValidationMessageFor(model => model.CrmCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        @Html.EnumDropDownListFor(model => model.CrmUf, new { @class = "form-control", @placeholder = "UF do CRM" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Sexo</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.EnumDropDownListFor(model => model.Sex, new { @class = "form-control"})
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Logradouro</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.PublicPlace, new { @class = "form-control", @placeholder = "Logradouro" })
                        @Html.ValidationMessageFor(model => model.PublicPlace, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Numero</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.Number, new { @class = "form-control", @placeholder = "Número" })
                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                    </div>
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Complemento</label>
                    <div class="col-md-5">
                        @Html.TextBoxFor(model => model.Complement, new { @class = "form-control", @placeholder = "Complemento" })
                        @Html.ValidationMessageFor(model => model.PublicPlace, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Bairro</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Neighborhood, new { @class = "form-control", @placeholder = "Bairro" })
                        @Html.ValidationMessageFor(model => model.PublicPlace, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Cidade</label>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "Cidade" })
                        @Html.ValidationMessageFor(model => model.PublicPlace, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Estado</label>
                    <div class="col-md-9">
                        @Html.EnumDropDownListFor(model => model.Uf)
                        @Html.ValidationMessageFor(model => model.Uf, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-md-12" style="padding-left: 0px;">
                    <div class="checkbox" style="padding-left: 0;">
                        <label class="control-label col-md-2 col-sm-2 col-xs-10" style="font-weight: bold;">Ativo?</label>
                        <label style="margin-left: 12px;">
                            @Html.CheckBoxFor(model => model.Active, new { @class = "form-control flat"})
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input type="submit" value="Salvar" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
